@import '@fontsource/inter/700.css';
@import '@fontsource/inter/400.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-slate-900;
	@apply snap-y snap-mandatory;
}

.header-text {
	text-shadow: 0px 0px 0 #3b82f6, 1px 1px 0 #234e94, 2px 2px 0 #326fd1, 3px 3px 0 #306dcf,
		4px 4px 0 #3b83f6, 5px 5px 0 #3b82f6, 6px 6px 0 #3b82f6, 7px 7px 6px rgba(0, 0, 0, 0.6),
		7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}

#matter-canvas {
	@apply z-0;
	@apply fixed;
	@apply top-0;
}

.subheading-text {
	text-shadow: 1px 1px 0 #000000, 3px 3px 0 #00000034, 4px 4px 0 #3b82f6;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-snap-type: initial;
	}

	.anim-invis {
		visibility: visible !important;
	}
}
