@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-icons > svg {
  height: 100%;
  width: 100%;
}

.header-text {
  text-shadow: 0 1px 0 rgb(105, 105, 105), 0 2px 0 rgb(105, 105, 105),
    0 3px 0 rgb(105, 105, 105), 0 4px 0 rgb(105, 105, 105),
    0 5px 0 rgb(105, 105, 105), 0 6px 0 rgb(105, 105, 105),
    0 7px 0 rgb(105, 105, 105), 0 8px 0 rgb(105, 105, 105),
    0 9px 0 rgb(105, 105, 105), 0 50px 30px rgba(0, 0, 0, 0.3);
}
.scroll-fix {
  scroll-margin-top: 64px;
}

#helloguys {
  display: none;
}

.theme-color {
  background-color: rgb(23, 23, 49);
}

.custom-gradient {
  background: rgb(23, 23, 49);
  background: linear-gradient(180deg, rgb(23, 23, 49) 0%, rgb(8, 34, 63) 100%);
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) 8 normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: transparent;
  }
  to {
    border-right-color: #fff;
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    3s both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 rgb(105, 105, 105), 0 2px 0 rgb(105, 105, 105),
      0 3px 0 rgb(105, 105, 105), 0 4px 0 rgb(105, 105, 105),
      0 5px 0 rgb(105, 105, 105), 0 6px 0 rgb(105, 105, 105),
      0 7px 0 rgb(105, 105, 105), 0 8px 0 rgb(105, 105, 105),
      0 9px 0 rgb(105, 105, 105), 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 rgb(105, 105, 105), 0 2px 0 rgb(105, 105, 105),
      0 3px 0 rgb(105, 105, 105), 0 4px 0 rgb(105, 105, 105),
      0 5px 0 rgb(105, 105, 105), 0 6px 0 rgb(105, 105, 105),
      0 7px 0 rgb(105, 105, 105), 0 8px 0 rgb(105, 105, 105),
      0 9px 0 rgb(105, 105, 105), 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

.title-underline {
  background-position: 1em 0.6em;
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
}
.theme-title-underline {
  background-image: linear-gradient(to right, #06b6d4 0%, #06b6d4 100%);
}

.theme-title-underline:hover {
  background-image: linear-gradient(to right, #67e8f9, #67e8f9 100%);
}

.bounce-bottom {
  animation: bounce-bottom 4s steps(2, end) infinite alternate-reverse both;
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
